body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
  }
  
  a {
    color: #0563bb;
    text-decoration: none;
  }
  
  a:hover {
    color: #067ded;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #0563bb;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }